
# this is theme-level so no worries about uploads or other wp-content files

#node package
package-lock.json
# ignore node dependency directories
node_modules/

.DS_Store

# ignore log files and databases
*.log
*.sql
*.sqlite

Knight of the Flavigator