@import '../colors';
@import '../typography';

.footer-bottom {
	width: 100%;
	margin: 0;
	background-color: $light-brown;
	display: flex;
	justify-content: space-between;
	padding-left: 13.54vw;
	padding-right: 13.54vw;
	padding-top: 25px;
	padding-bottom: 20px;
	flex-wrap: nowrap;
	.copyright {
		font-size: 10px;
		width: fit-content;
		line-height: 23px;
		height: 23px;
	}
	.footer-social {
		list-style: none;
		display: inline-flex;
		margin: 0;
		width: fit-content;
		.social-fb {
			content: '';
			height: 23px;
			width: 23px;
			background-size: contain;
			display: inline-block;
			margin-right: 22px;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.social-ig {
			content: '';
			height: 23px;
			width: 23px;
			background-size: contain;
			display: inline-block;
			margin-right: 22px;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.social-tw,
		.social-yt {
			content: '';
			height: 23px;
			width: 23px;
			background-size: contain;
			display: inline-block;
			margin-right: 22px;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {
	.footer-bottom {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 25px;
		padding-bottom: 20px;
		flex-wrap: nowrap;
	}
}
