@import '../variables';
@import '../typography';
@import '../colors';

.site.page .siteheader,
.site.four04 .siteheader,
.site.post .siteheader {
	background-color: $dark-blue;
}

.home .site.page .siteheader {
	position: relative;
	background-color: $primary;
	z-index: 8;
	height: 41px;
	&.sticky {
		background-color: rgba(0, 0, 0, .64);
	}
}
a.skip-link.screen-reader-text {
	display: none;
}
.sr-only {
	display: none;
}
/* navbar-brand might happen outside the site header */
.navbar-brand {
	margin-right: 2.78vw;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
	width: 29%;
	img {
		max-width: 100%;
	}
}
.siteheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 13.54vw;
	padding-right: 13.54vw;
	#topmenu {
		flex-wrap: nowrap;
		padding-top: 1.53vw;
		#menu-main-menu {
			flex-wrap: nowrap;
			li {
				padding-right: 2.78vw;
			}
		}
	}
	.topdonate {
		padding-top: 1.53vw;
		padding-bottom: .5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.asp_product_buy_button {
			display: flex;
			align-items: center;
		}
	}
}
.navbar-nav {
	color: $text-light;
	z-index: 5;
	flex-direction: row;

	a {
		cursor: pointer;
		color: white;
		&:hover {
			background: transparent;
		}
		&:active {
			background: transparent;
			outline: 0;
		}
	}
}
.navbar-nav .nav-link {
	color: $text-light !important;
	cursor: pointer;
	white-space: nowrap;
	&:hover,
	&:focus {
		color: $primary !important;
		max-height: 100%;
	}
}
/* menu active */

.menu-item > a[aria-expanded="true"] {
	background: transparent;
	/* color:white !important; */
}

ul.dropdown-menu.show {
	border-radius: 0;
	border-top: 5px solid rgba(0, 78, 125, 0.5);
	margin-top: 0px;
	min-width: 8.42vw;
	right: -100px;
	left: auto;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: $text-dark;
	text-align: inherit;
	white-space: nowrap;
	background-color: white;
	border: 0;
	line-height: 21px;
	padding: 14px 0 14px 35px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: $text-light;
}
/* carot */
.dropdown-toggle::after {
	/*background-image:url(img/carot-bottom.svg); */
	content: "";
}
.menu-item > a[aria-expanded="true"]::after {
	/*
    background-image:url(img/carot-bottom-white.svg);
    */
}
/* Sticky Menu */

.sticky {
	position: fixed !important;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 80px;
}
/* Mobile Nav */
#eyepolitic_mobile_menu,
#mobilenav_button {
	display: none;
}
#mobilenav {
	height: 0;
	transition: all .4s ease-in;
	position: absolute;
}
@media (max-width: 992px) {
}
@keyframes mobile_topdown {
	from {
		height: 0px;
	}
	to {
		height: 100vh;
	}
}
.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}
@import 'mobilenav';
/* no mobile */
#topmenu.nomobile {
	width: 100%;
}
#menu-main-menu.nomobile {
	width: 100%;
	flex-grow: 1;
	justify-content: center;
}
