.bubble {
	width: 9.03vw;
	height: 9.03vw;
	display: block;
	background: rgba(4, 16, 33, 0.1);
	box-shadow: inset 7px 0px 18px -6px rgba(40, 229, 187, 0.22), inset 2px -5px 15px rgba(75, 146, 255, 0.22),
		inset -5px 5px 12px 3px rgba(198, 175, 255, 0.22);
	backdrop-filter: blur(10px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 50%;
	&.small {
		width: 6.81vw;
		height: 6.81vw;
	}
}
