#bsCarousel {
    background-color: #003B47;
    text-align: center;
}

.carousel-text,
.homeslide {
    color: white;
    text-align: left;
}

.btn-lg {
    background-color: #FAC801;
    color: black;
    border-radius: 25px;
    float: left;
}

.carousel-caption {
    // max-width: 511px;
    // float: left;
    // text-align: left;
    max-width: 511px;
    margin-left: -3%;
    margin-right: 30%;
}

.second-slide {
    float: right;
    max-width: 400px;
    max-height: 300px;
    margin: 50px;
}

.carousel-inner {
    width: 100%;
    padding-left: 13%;
    padding-right: 13%;

}