#bsCarousel {

    text-align: center;

    .carousel-inner {
        width: 100%;
        padding: 0 25%;
        background-color: #003B47;
    }

    .second-slide {
        float: right;
        max-width: 400px;
        max-height: 300px;
        margin: 50px;
    }

    &:after {
        width: 100%;
        content: '';
        display: block;
        height: 100px;
        margin-top: -50px;
        background-color: #003B47;
        border-bottom: 50px;
        border-radius: 50%;
    }

}

.carousel-text,
.homeslide {
    color: white;
    text-align: left;
}

.btn-lg {
    background-color: #FAC801;
    color: black;
    border-radius: 25px;
    float: left;
}

.carousel-caption {
    // max-width: 511px;
    // float: left;
    // text-align: left;
    max-width: 511px;
    margin-left: -3%;
    margin-right: 30%;
}