/* Tiles */
.containerwrap.mission-statement {

	margin: 0 auto;
	width: 100%;
	text-align: center;

	.missionright {
		width: 75%;
	}

	.missionleft {
		// max-width: 90%;
		// max-height: 90%;
		// text-align: center;
		// margin-left: 14%;
		// margin-right: 14%;
		float: left !important;
		text-align: left;
	}

}

@media screen and (max-width: 991px) {
	.containerwrap.mission-statement {

		// .missionright {
		// 	font-size: 35px;
		// }

		// .missionleft {
		// 	max-width: 90%;
		// 	max-height: 90%;
		// 	text-align: center;
		// 	margin-left: 14%;
		// 	margin-right: 14%;
	}
}