/* Tiles */
.containerwrap.mission-statement {
	.missionright {
		font-size: 35px;
	}

	.missionleft {
		max-width: 90%;
		max-height: 90%;
		text-align: center;
		margin-left: 14%;
		margin-right: 14%;
	}

}

@media screen and (max-width: 991px) {
	.containerwrap.mission-statement {

		.missionright {
			font-size: 35px;
		}

		.missionleft {
			max-width: 90%;
			max-height: 90%;
			text-align: center;
			margin-left: 14%;
			margin-right: 14%;
		}
	}
}