/* Tiles */
.containerwrap.two-tiles {
	.tileimage {
		width: 463px;
		height: 197px;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: -webkit-center !important;
		align-items: center !important;
	}

	.tile {
		text-align: center;
		align-items: center;
	}

}

@media screen and (max-width: 991px) {
	.containerwrap.two-tiles {}
}