/* Tiles */
.containerwrap.two-tiles {
	background-color: #F8F8F8;
	padding: 3%;


	.tileimage {
		max-width: 463px;
		min-height: 197px;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: -webkit-center !important;
		align-items: center !important;
		margin-left: 12%;
	}

	.tile {
		text-align: center;
		display: block;
		background-color: white;
		border-radius: 10px;
		margin: 2%;
		max-width: 607px;
		padding-bottom: 3%;
	}

	.tiletitle {
		margin-top: 3%;
		font-weight: 600;
		font-size: 18px;
		font-style: normal;
		line-height: 27px;
	}

}

@media screen and (max-width: 991px) {
	.containerwrap.two-tiles {}
}