.containerwrap.contactus {
	background-image: url(~/theme/dist/css/img/formbackground.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 10%;
	border-radius: 25px;

	h3.formtitle {
		text-align: center;
		padding-top: 2%;
		color: white;
	}

	.formcontainer {
		display: flex;
		align-items: center;
		flex-direction: column;

		div.wpcf7 {
			text-align: center;
			max-width: 25%;
			display: inline-table;
			margin: 0 auto;
			width: 100%;
		}

		.wpcf7-form-control.wpcf7-submit {
			padding: 1% 35%;
			background: #FAC801;
			box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1%);
			border-radius: 25px;
			margin: 3% auto;
			position: static;
			width: 100%;
		}

		form.wpcf7-form {
			display: inline-grid;
			text-align: left;
			margin: 2% auto;
			width: 100%;


			label {
				display: grid;
				text-align: left;
			}

			input {
				border-radius: 30px;
				width: 100%;
				margin: 0 auto;
			}

		}

	}
}