.docs-template-default{
    font-size: 1rem;
    span{
        color: #D3445E;
    }
    a{
        color: #28e5bb;  
    }
    background-color: white;
    h1, h2, h3, h4, h5, h6, p, div{
            color: #444;
        }
    
    #entry-docs{ 
        background-color: white;
        h1, h2, h3, h4, h5, h6, p, div {
            color: #444;
        }
    }
.docs {
    background-color: white;
    h1, h2, h3, h4, h5, h6, p, div{
            color: #444;
        }
    
    }
} 


 
@media screen and (max-width:991px){
    #page-coach-upload{ 


    }}