/* FORMS */

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5.14vw;
	.form-group.inline button[type=submit] {
		margin-left: 12px;
		line-height: 38px;
		max-height: 38px;
	}
	&.search-form {
		flex-direction: row;
		align-items: center;
		input {
			margin: 1vw;
			min-height: 44px;
		}
	}
	.form-group {
		&.inline {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
		}

		input.form-control {
			border-radius: 5px;
		}
	}
}
.hero-firstname,
.hero-lastname {
	width: calc(50% - 6px);
}
.hero-email {
	flex-grow: 1;
}
.entry-content {
	width: 52.57vw;
	margin-top: 1.875vw;
	margin-bottom: 2.57vw;
	p {
		font-weight: 500;
		font-size: clamp(16px, 1.39vw, 20px);
		line-height: clamp(24, 2.08vw, 30px);
		letter-spacing: 0.2px;
	}
}

.form-control::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 14px !important;
	font-weight: 400 !important;
	color: $text-dark !important;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-size: 14px !important;
	font-weight: 400 !important;
	color: $text-dark !important;
}

.form-control::-ms-input-placeholder {
	/* Microsoft Edge */
	font-size: 14px !important;
	font-weight: 400 !important;
	color: $text-dark !important;
}
.wpcf7-response-output {
	color: white;
	border: 0;
	outline: 0;
	border: 0;
}
/* home page form */
@media screen and (max-width: 576px) {
	.entry-content {
		width: 100%;
	}
}
