$boxshadow: 0px 4px 4px rgba(0, 0, 0, .25);
$text-dark: #797979;
$text-black: #000;
$text-light: #ccc;
$text-white: #fff;

/* move these to colors and then create or compile colors */
$primary: #003b47;
$lightblue: #f0f9fe;
$gold: #fac801;
