name: Deploy To AWS Staging on Push


on:
  push:
    branches: 
    - main
    
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
       #FIRST Sync the Private S3 Bucket
      #THEN SSH INTO AWS LIGHTSAIL
      - name: Configure SSH
        run: |
          mkdir -p 700 ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.cer        
          chmod 600 ~/.ssh/staging.cer
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.cer
            PubKeyAuthentication yes
            IdentitiesOnly yes
            StrictHostKeyChecking no
          END
        env:
          SSH_USER: ${{ secrets.STAGING_USER }}
          SSH_KEY: ${{ secrets.STAGING_SSH }}
          SSH_HOST: ${{ secrets.STAGING_SSH_IP }}
      
      - name: Zip plugin
        env:
          THEME_NAME: FriendlyRobotTheme   
        run: |
              cd $GITHUB_WORKSPACE/..
              # zip up the source
              zip -r /var/tmp/$THEME_NAME.zip $THEME_NAME -x '*.git*'

      - name: Copy Files
        env: 
          THEME_NAME: FriendlyRobotTheme
          DEPLOY_DIR: ~/deploy-from-github
          THEME_PATH: /home/bitnami/apps/wordpress/htdocs/wp-content/themes
        run: |
              scp -v /var/tmp/$THEME_NAME.zip staging:$DEPLOY_DIR
              ssh staging "cd $DEPLOY_DIR;rm -rf $THEME_NAME.backup;mv $THEME_PATH/$THEME_NAME $THEME_NAME.backup;unzip $THEME_NAME.zip; mv $THEME_NAME $THEME_PATH;"


    # BEFORE I WAS JUST DOING IT IN A SERVER SIDE BASH SCRIPT BUT ITS MORE TRANSPARENT HERE FOR BETTER OR WORSE            
    #  - name: Overwrite plugin
    #    run: ssh staging 'sudo bash /home/bitnami/apps/wordpress/greenheartorg_deploy.sh; exit'
